In [2]:
import pandas as pd
import requests
import json

In [35]:
paises = 'BR|US'
indicadores = '77827' # PIB
base_url = f'https://servicodados.ibge.gov.br/api/v1/paises/{paises}/indicadores/{indicadores}'
nome_pais = ['EUA', 'Brasil']

response = requests.get(base_url)
data = json.loads(response.text)

lista_pib = []

for i, serie in enumerate(nome_pais):

    lista_anos = []
    lista_valores = []

    for info in data[0]['series'][i]['serie']:

        valores = list(info.items())
        lista_anos.append(valores[0][0])
        lista_valores.append(valores[0][1])
    
    nome_coluna = nome_pais[i]
    df = pd.DataFrame(list(zip(lista_anos, lista_valores)), columns =['Ano', f"{nome_coluna}"]).dropna()

    lista_pib.append(df)

In [40]:
df_pib = pd.merge(lista_pib[0], lista_pib[1], on='Ano')
df_pib = df_pib.set_index('Ano')
df_pib = df_pib.map(lambda x: float(x))
df_pib = df_pib / 1000000000 # Formato em Bilh√µes

In [51]:
df_pib['Tamanho EUA'] = df_pib['EUA'] / df_pib['Brasil']
df_pib['Tamanho EUA'] = df_pib['Tamanho EUA'].map(lambda x: round(x, 2))

In [52]:
df_pib

               EUA       Brasil  Tamanho EUA
Ano
1990   5963.144000   464.989098        12.82
1995   7639.749000   769.333330         9.93
2000  10250.947997   655.448188        15.64
2001  10581.929774   559.983704        18.90
2002  10929.112955   509.795271        21.44
2003  11456.442041   558.233724        20.52
2004  12217.193198   669.289322        18.25
2005  13039.199193   891.633827        14.62
2006  13815.586948  1107.626711        12.47
2007  14474.226905  1397.114247        10.36
2008  14769.857911  1695.855392         8.71
2009  14478.064934  1666.996294         8.69
2010  15048.964444  2208.838109         6.81
2011  15599.728123  2616.156607         5.96
2012  16253.972230  2465.228294         6.59
2013  16843.190993  2472.819362         6.81
2014  17550.680174  2456.043766         7.15
2015  18206.020741  1802.212000        10.10
2016  18695.110842  1795.693266        10.41
2017  19477.336549  2063.514689         9.44
2018  20533.057312  1916.933708        10.71
2019  21380.976119  1873.288159        11.41
2020  21060.473613  1476.107292        14.27
2021  23315.080560  1649.622972        14.13
2022  25462.700000  1920.095561        13.26